<div class="px-0 pt-6 flex flex-col">
    <div class="h-full mb-4 flex justify-center items-center">
        <div class="mb-4">
            <img class="cursor-pointer" src="assets/logo/LogoCBDEDark.png"
                alt="Imagem da Confederação Brasileira de Desporto Escolar" width="135" height="60">
        </div>
    </div>

    <div class="text-left mb-4 mt-10 w-full">
       
        <div class=" mt-2  w-full space-y-2">
                <a href="#" (click)="navigateEventToList()" 
                class="block px-4 font-bold text-gray-600 ">EVENTOS
            </a>
                <a href="#" (click)="navigateToList()"
                    class=" px-4 py-2 font-bold text-gray-600 flex justify-between">USUÁRIO
                    <fa-icon [icon]="['fas', 'user-group']"></fa-icon>
                </a>
        </div>
    </div>
</div>