<header class="bg-blue-900 flex text-white justify-between">
    <div class="p-4 flex items-center">
        <fa-icon [icon]="['fas', 'list']" class="mr-2"></fa-icon>
        <p class="ml-2">Olá, usuário de Federação - <strong>TI@CBDE.ORG.BR</strong></p>
    </div>

    <div class=" space-x-4 p-4">
        <button class="bg-white text-gray-600 py-2 px-4 rounded">
                                    <fa-icon [icon]="['fas', 'user']" class="text-gray-500"></fa-icon>
            Perfil
        </button>

        <button class="bg-white text-gray-600 py-2 px-4 rounded">
            <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" class="text-gray-500"></fa-icon>
            Sair
        </button>
    </div>
</header>